---
import MainLayout from "~/layouts/MainLayout.astro"

const uncategorizedDocs = Astro.fetchContent("./*.md")
const categorizedDocs = {
  "4º 5ª": Astro.fetchContent("./4-5/*.md"),
  "5º 3ª": Astro.fetchContent("./5-3/*.md"),
  "Tarjetas Útiles": Astro.fetchContent("./tutiles/*.md"),
  "The Cloc (EN)": Astro.fetchContent("./the-cloc/day-*.md"),
  "The Cloc (ES)": Astro.fetchContent("./the-cloc/dia-*.md"),
}
---

<MainLayout content={{ title: "Docs" }}>
  {uncategorizedDocs.map((doc) => (
    <article>
      <a href={doc.url}>{doc.title}</a>
    </article>
  ))}
  {Object.entries(categorizedDocs).map(([title, docs]) => (
    <section>
      <h3>{title}</h3>
      {docs.map((doc) => (
        <article>
          <a href={doc.url}>{doc.title}</a>
        </article>
      ))}
    </section>
  ))}
</MainLayout>
