---
import "~/styles/main.css"

export interface Props {
  title: string
  description?: string
  path?: string[]
  lang?: "en" | "es"
}

const { title, description, path = [], lang = "en" } = Astro.props as Props
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<html {lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}

    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:url" content={canonicalURL} />

    <link rel="icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <slot name="head" />
  </head>

  <body>
    <div class="max-w-2xl px-4 pb-12 mx-auto">
      {
        path.length >= 1 && (
          <nav class="mt-4 mb-12 leading-none text-2xl font-light block text-display select-none">
            <a
              href="/"
              class="font-black hover:text-red-500 transition-colors after:content-['/'] after:text-xl after:font-light after:inline-block"
            >
              ~
            </a>
            {path.map((segment, i) => (
              <a
                href={"/" + path.slice(0, i + 1).join("/") + "/"}
                class="hover:text-red-500 transition-colors after:content-['/'] after:text-xl after:inline-block"
              >
                {segment}
              </a>
            ))}
          </nav>
        )
      }

      <slot />

      <script>
        import { inject } from '@vercel/analytics';
        inject();
      </script>
    </div>
  </body>
</html>
