---
import "simpledotcss/simple.css"
import { Icon } from "astro-icon"

export interface Props {
  content: { title: string; description?: string; lang?: "en" | "es" }
}

const { title, description, lang = "en" } = Astro.props.content || {}
const canonicalURL = Astro.request.canonicalURL
---

<html {lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:url" content={canonicalURL} />

    <style>
      a .icon {
        vertical-align: middle;
        padding-right: 0.25em;
        display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
      }
    </style>
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/#apps">Apps</a>
        <a href="/docs">Docs</a>
        <a
          href="https://github.com/JuanM04"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="feather:github" class="icon" /> GitHub
        </a>
        <a href="mailto:me@juanm04.com">
          <Icon name="feather:mail" class="icon" /> Email
        </a>
      </nav>
      <h1>{title}</h1>
      {description && <p>{description}</p>}
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>
        Last updated: {new Date().toISOString().slice(0, 10)} —
        <a href="#">Back to top ↑</a>
      </p>
    </footer>
  </body>
</html>
