---
import { Icon } from "astro-icon"

export interface Props {
  content: { title: string; description?: string; lang?: "en" | "es" }
}

const { title, description, lang = "en" } = Astro.props.content || {}
const canonicalURL = Astro.request.canonicalURL

const lastUpdate = new Date().toISOString()
---

<html {lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    {description && <meta name="description" content={description} />}

    <meta property="og:title" content={title} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:url" content={canonicalURL} />

    <link rel="icon" href="/favicon.ico" sizes="any"/>
    <link rel="icon" href="/icon.svg" type="image/svg+xml"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="manifest" href="/manifest.webmanifest"/>

    <style global>
      @import "../main.css";
    </style>

    <script
      async
      defer
      data-website-id="4afe33e6-87d1-40d1-adb1-613d1487c0b2"
      src="https://umami.juanm04.com/umami.js"
    >
    </script>
  </head>

  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/#apps">Apps</a>
        <a href="/docs">Docs</a>
        <a
          href="https://github.com/JuanM04"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon name="feather:github" /> GitHub
        </a>
        <a href="mailto:me@juanm04.com">
          <Icon name="feather:mail" /> Email
        </a>
      </nav>
      <h1>{title}</h1>
      {description && <p>{description}</p>}
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <p>
        Last update: <time datetime={lastUpdate}>{lastUpdate.slice(0, 10)}</time>
        —
        <a href="/sitemap.xml">Sitemap</a>
        —
        <a href="https://github.com/JuanM04/portfolio">Source code</a> 
      </p>
      <p>
        <a href="#">Back to top ↑</a>
      </p>
    </footer>
  </body>
</html>
